html {
  height: 100%;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.allShovels {
  /* background: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shovel {
  /* background: red; */
  width: 90%;
}
